body {
  font-family: 'Open Sans Condensed';
  font-weight: 600;
  font-size: large;
  padding: 0 10px 0 10px;
  white-space: nowrap;
  /* background-color: black; */
  max-width: 1500px;
  margin: auto;
}

a {
  text-decoration: none;
  color: black;
}

* {
  box-sizing: border-box;
}
